/* NAVBAR TEMPLATE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4098fd;
    --secondary-color: #e5533d;
}

button {
    transition: 0.3s;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    position: fixed;
}

.navbar-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.navbar-links li {
    margin: 0 25px;
}

.navbar-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: black;

}

.logo {
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    margin: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.auth-buttons {
    display: flex;
}

.auth-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.auth-btn:hover {
    background-color: #e5533d;
}

/* CONTAINER */

/* Basic styles for the form and table */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
.main-container{
    padding-top: 50px;
}
h1 {
    margin-bottom: 20px;
    /* Space below the heading */
}

.form-container {
    margin-bottom: 20px;
    /* Space below the form */
    padding: 20px;
    /* Padding inside the form container */
    background-color: #fff;
    /* White background for the form */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Slight shadow for depth */
}

input,
select {
    padding: 10px;
    /* Padding inside input fields */
    margin: 10px 0;
    /* Margin above and below input fields */
    width: calc(100% - 22px);
    /* Full width minus padding */
    border: 1px solid #ccc;
    /* Border style */
    border-radius: 5px;
    /* Rounded corners */
}

button {
    padding: 10px 15px;
    /* Padding inside button */
    background-color: var(--primary-color);
    /* Green background color */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
}

button:hover {
    background-color: var(--secondary-color);
    /* Darker shade on hover */
}

.utilitas-table {
    width: 70%;
    border-collapse: collapse;
    /* margin-top: 20px; */
    margin: 0 auto;
}

.utilitas-table th, .utilitas-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.utilitas-table th {
    background-color: var(--primary-color);
    color: white;
}

.utilitas-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.utilitas-table tr:hover {
    background-color: #ddd;
}

.utilitas-table td[colspan="6"] {
    font-weight: bold;
    text-align: right;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}