/* NAVBAR TEMPLATE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #4098fd;
    --secondary-color: #e5533d;
    --primary-font: Arial, sans-serif;
}

body{
    margin: 0;
}

button {
    transition: 0.3s;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.navbar-links li {
    margin: 0 25px;
}

.navbar-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: black;

}

.logo {
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    margin: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.auth-buttons {
    display: flex;
}

.auth-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.auth-btn:hover {
    background-color: #e5533d;
}

/* CONTAINER */

.jadwal-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 100vh;
}

.jadwal-container h1 {
    margin-bottom: 15px;
}

label {
    margin-right: 5px;
}

input[type="date"] {
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 20px;
}

select{
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 20px;
}

table {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    border-collapse: collapse;
}

th,
td {
    
        position: sticky;
        top: 0; /* Keeps the header at the top */
        /* background-color: #f8f9fa; Adjust the color as needed */
        z-index: 1;
      

    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures consistent column width */
  }

  tbody {
    display: block;
    max-height: 60vh; /* Set the height limit */
    overflow-y: auto; /* Enables scrolling */
  }

tr:nth-child(even) {
    background-color: #f2f2f2;
}



tr:hover {
    background-color: #ddd;
}

.filter-buttons {
    margin-bottom: 15px;
}

 button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: var(--secondary-color);
}

.filter-buttons .active {
    background-color: var(--secondary-color);
    color: #fff;
    border-color: #0056b3;
}

td{
    position: relative; /* Makes the <td> a reference for absolute positioning */
        padding: 5px 10px;
        word-wrap: break-word; /* Prevents text overflow */
        /* display: flex;
        flex-direction: row; */
}



td> span{
    margin-right: 10px;
}
td > select{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
input[type="hidden"] {
    display: none;
}