/* navbar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #4098fd;
    --secondary-color : #e5533d;
}
button{
    transition: 0.3s;
}

.navbar{
    border-bottom: 1px dashed black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    position: fixed;
}

.navbar-links{
    display: flex;
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.navbar-links li{
    margin: 0 25px;
}

.navbar-links a{
    color: white;
    font-weight: bold ;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover{
    color: black;
    
}

.logo{
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    margin: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.auth-buttons{
    display: flex;
}

.auth-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.auth-btn:hover{
    background-color:  #e5533d;
}

.container {
    padding: 20px;
    padding-top: 70px; /* Adjust this value to match the height of the navbar */
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

textarea {
    height: 60px;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table td {
    padding: 10px;
    vertical-align: top;
}

table td label {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

table td input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.tenant-info, .guest-info {
    margin-bottom: 30px;
}

.guest-info {
    display: none; /* Initially hidden */
}

/* Radio buttons section */
label {
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 5px;
}

h2{
    padding-top: 20px;
}

.form-group{
    padding-top: 20px;
}

.submit-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px; /* Adjust padding to match other buttons */
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px; /* Make it consistent with other buttons */
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.submit-btn:focus {
    outline: none;
}

.submit-btn:active {
    transform: scale(0.98); /* Slight scale down effect when pressed */
}
