* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4098fd;
  --secondary-color: #e5533d;
}

button{
  transition: 0.3s;
}

body{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background-color: #f9f9f9;
  font-family: Inter, sans-serif;
}

.container {
  margin-top: 100px; /* Adds space between navbar and content */
  width: 1035px;
  height: 680px;
  background: #D9D9D9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.top{
  display: flex;
  width: 100%;
  gap: 20px; /* Space between UnitPict and NounitTower */
}

.main{
  display: flex;
  flex-direction: row;
}

.unit-picture {
  width: 184px;
  height: 183px;
  background: #B4B4B4;
  border-radius: 10px;
  margin-bottom: 20px;
  align-self: flex-start;
}
.unit-desc {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 644px;
  height: 49px;
}
.checkin-label {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  flex-direction: row;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: 255px;
}

.checkin-button, .checkout-button {
  align-self: flex-end;
  background: var(--primary-color);
  color: white;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  cursor: pointer; 
}

.bottom{
  display: flex;
  gap: 50px;
}

/* NAVBAR */
.navbar{
  position: fixed; /* Sticks the navbar to the top */
  top: 0; /* Aligns it at the top of the page */
  left: 0;
  right: 0;
  border-bottom: 1px dashed black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.navbar-links{
  display: flex;
  list-style: none;
  flex-direction: row;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
}

.navbar-links li{
  margin: 0 25px;
}

.navbar-links a{
  color: white;
  font-weight: bold ;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover{
  color: black;
  
}

.logo{
  background-color: white;
  border-radius: 50%;
  padding: 7px;
  margin: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.auth-buttons{
  display: flex;
}

.auth-btn{
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover{
  background-color:  #155a8c;
}