<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/kelolaJadwal.css}">
    <script rel="text/javascript" th:src="@{/js/agen.js}" defer></script>
    <title>Jadwal Ketersediaan</title>
</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>

    <div class="jadwal-container">
        <h1>Jadwal Ketersediaan Unit Apartemen</h1>

        <form id="filter-form" action="/atyp/filter-apartments" method="post">
            <!-- Hidden inputs to store filter state -->
            <input type="hidden" id="apt-filter" name="apt" value="">
            <input type="hidden" id="status-filter-hidden" name="status" value="">
        
            <!-- Filter Buttons -->
            <div class="filter-buttons">
                <button type="button" onclick="updateFilter('apt', null)">Semua</button>
                <button type="button" onclick="updateFilter('apt', 'A')"
                    th:classappend="${session.filters['apt']} == 'A' ">Apartemen A</button>
                <button type="button" onclick="updateFilter('apt', 'B')"
                    th:classappend="${session.filters['apt']} == 'B' ">Apartemen B</button>
                <button type="button" onclick="updateFilter('apt', 'C')"
                    th:classappend="${session.filters['apt']} == 'C' ">Apartemen C</button>
                <button type="button" onclick="updateFilter('apt', 'D')"
                    th:classappend="${session.filters['apt']} == 'D' ">Apartemen D</button>
            </div>

            <!-- <span th:text="${session.filters['startDate']}"></span> -->
            <!-- <span th:text="${session.filters['status']}"></span> -->
        
            <!-- Start and End Date Filters -->
            <label for="start-date">Tanggal Awal:</label>
            <input type="date" id="start-date" name="start-date" onchange="validateDates()"
            th:value="${session.filters['startDate']}">
            <label for="end-date">Tanggal Akhir:</label>
            <input type="date" id="end-date" name="end-date" onchange="validateDates()"
            th:value="${session.filters['endDate']}">
        
            <!-- Status Filter -->
            <label for="status-filter">Status Ketersediaan:</label>
            <select id="status-filter" name="status" onchange="updateFilter('status', this.value)">
                <option value="" th:selected="${session.filters['status']} == '' ">All</option>
                <option value="NA" th:selected="${session.filters['status']} == 'NA' ">NotAvailable</option>
                <option value="A" th:selected="${session.filters['status']} == 'A' ">Available</option>
                <option value="M" th:selected="${session.filters['status']} == 'M' ">Maintenance</option>
            </select>
        </form>

        
        <table id="availability-table">
            <thead>
                <tr>
                    <th>Kode Unit</th>
                    <th>Tanggal Mulai</th>
                    <th>Tanggal Selesai</th>
                    <th>Status Ketersediaan</th>
                    <th>Tarif Sewa Harian</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row :${results}">
                    <td th:text="${row.namatower}+${row.lantai} + ${row.nomor}"></td>
                    <td th:text="${row.tanggalmulai}"></td>
                    <td th:text="${row.tanggalselesai}"></td>
                    <td th:text="${row.statustersedia}"></td>
                    <td th:text="${row.tarifsewa}" style="max-width: 300px;"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>