<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{css/login.css}"> 
</head>
<body>
    <div class="login-container">
        <div class="image-section">
            <img th:src="@{images/vertical-shot-white-building-clear-sky.jpg}" alt="User" class="profile-image">
        </div>
        <div class="form-section">
            <div class="logo-container">
                <img th:src="@{images/LHlogoresized.png}"  alt="Logo" class="logo">
            </div>
            <h2>Login</h2>
            <form action="#" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                
                <button type="submit" class="sign-in-button">Sign In</button>
                
                <p class="signup-link">Not a member? <a href="#">Sign Up</a></p>
            </form>
        </div>
    </div>
</body>
</html>