<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pelaporanUtilitas.css}">
    <script rel="text/javascript" th:src="@{/js/agen.js}" defer></script>

    <title>Pelaporan Utilitas</title>
</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>

    <!-- container -->
    <div class="container">
        <h1>Laporan Utilitas</h1>
        <div class="period-picker">
            <form id="filter-form" action="/atyp/util-filtered" method="post">
                <input type="date" id="start-date" name="start-date" onchange="validateDates()"
                th:value="${session.startDate}">
                <label for="end-date">Tanggal Akhir:</label>
                <input type="date" id="end-date" name="end-date" onchange="validateDates()"
                th:value="${session.endDate}">

            </form>
        
        </div>
        <table class="utilitas-table">
            <thead>
                <tr>
                    <th>Nomor</th>
                    <th>Tower</th>
                    <th>Lantai</th>
                    <th>Nomor Unit</th>
                    <th>Tipe</th>
                    <th>Frekuensi</th>
                    <th>Harga Harian</th>
                    <th>Total Pendapatan Unit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row,stat : ${results}">
                    <td th:text="${stat.index + 1}"></td>
                    <td th:text="${row.ttu.namatower}"></td>
                    <td th:text="${row.ttu.lantai}"></td>
                    <td th:text="${row.ttu.nomor}"></td>
                    <td th:text="${row.ttu.jenis}"></td>
                    <td th:text="${row.frekuensi}"></td>
                    <td th:text="${row.ttu.tarifsewa}"></td>
                    <td th:text="${row.total}"></td>
                </tr>
                

                <tr>
                    <td colspan="7">Total pendapatan</td>
                    <td th:text="${total}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>
