<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/pelaporanUtilitas.css}">
    <title>Pelaporan Utilitas</title>
</head>
<body>
    <div class="navbar-container">
        <nav class = "navbar">
           
            <a href="#" class="logo">
                <img th:src="@{images/LHlogoresized.png}" height="32" width="32" alt="">
            </a>
            <div class="navbar-agen" th:unless="${tipeuser} == P">
                <ul class="navbar-links">
                    <li id="link-editDataUnit"><a th:href="@{edit-data}">Data Unit</a></li>
                    <li id="link-jadwalKetersediaan"><a th:href="@{kelola-jadwal}">Jadwal Ketersediaan</a></li>
            
                    <li id="link-pengawasanUnit"><a th:href="@{pengawasan-unit}">Pengawasan Unit</a></li>
            
            
                    <li id="link-cico"><a th:href="@{pengawasan-cico}">Data CICO</a></li>
            
            
                    <li id="link-utilitas"><a th:href="@{pelaporan-utilitas}">Laporan Utilitas</a></li>
                </ul>
            </div>

            <div class="auth-buttons">
                <button class="auth-btn">Sign In</button>
                <button class="auth-btn">Sign Up</button>
                <button class="auth-btn" hidden>Sign Out</button>
    
            </div>            
        </nav>
    </div>

    <!-- container -->
    <div class="container">
        <h1>Laporan Utilitas</h1>
        <div class="period-picker">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date">
        </div>
        <table class="utilitas-table">
            <thead>
                <tr>
                    <th>Nomor</th>
                    <th>Tower</th>
                    <th>Lantai</th>
                    <th>Nomor Unit</th>
                    <th>Tipe</th>
                    <th>Frekuensi</th>
                    <th>Harga Harian</th>
                    <th>Total Pendapatan Unit</th>
                </tr>
            </thead>
            <tbody>
         
                <tr><td>Row 1</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Rp.</td><td>Rp.</td></tr>
                <tr><td>Row 2</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Rp.</td><td>Rp.</td></tr>
     
                <tr>
                    <td colspan="7">Total pendapatan</td>
                    <td>Total Amount</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>
