<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pelaporanUtilitas.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar-container">
        <nav class = "navbar">
           
            <a href="#" class="logo">
                <img src="../static/images/LHlogoresized.png" height="32" width="32" alt="">
            </a>
            <ul class="navbar-links">
                <li id="link-pencarian"><a href="#">Pencarian</a></li>
                <!-- <li id="link-pemesanan"><a href="#">Pemesanan</a></li>
                <li id="link-Pembayaran"><a href="#">Pembayaran</a></li> -->
                <li id="link-riwayat"><a href="#">Riwayat Transaksi</a></li>
                <!-- <li id="link-review"><a href="#">Review</a></li> -->
            </ul>
            <div class="auth-buttons">
                <button class="auth-btn">Sign In</button>
                <button class="auth-btn">Sign Up</button>
                <button class="auth-btn" hidden>Sign Out</button>
    
            </div>            
        </nav>
    </div>

    <!-- container -->
    <div class="container">
        <h1>Laporan Utilitas</h1>
        <div class="period-picker">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date">
        </div>
        <table class="utilitas-table">
            <thead>
                <tr>
                    <th>Nomor</th>
                    <th>Tower</th>
                    <th>Lantai</th>
                    <th>Nomor Unit</th>
                    <th>Tipe</th>
                    <th>frekuensi</th>
                    <th>harga</th>
                    
                </tr>
            </thead>
            <tbody>
         
                <tr><td>Row 1</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 2</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 3</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 4</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 5</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 6</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 7</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 8</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
                <tr><td>Row 9</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
     
                <tr>
                    <td colspan="6">Total pendapatan</td>
                    <td>Total Amount</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>
