<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/pemesanan.css}">
        <script rel="text/javascript" th:src="@{/js/pemesanan.js}"defer></script>
        <script rel="text/javascript" th:src="@{/js/pelanggan.js}"defer></script>
        <title>Pemesanan</title>
    </head>
    <body>
        <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>
        
        <div class="container">
            <div class="details-container">
                <div  style="display: flex; margin-bottom: 20px;">
                    <img th:src="@{images/images.jpeg}" style="border-radius: 15px;" width="256" height="256" alt="">
                </div>

                <h2 id="apartment-number" th:text="'Room Number: ' + ${roomData.nomor}"></h2>
                <p id="tower-name" th:text="'Tower Unit: ' + ${roomData.namatower}"></p>
                <p id="floor-number" th:text="'Floor: ' + ${roomData.lantai}"></strong> </p>
                <p id="room-type" th:text="'Room Type: ' + ${roomData.jenis}"></p>

            </div>
        
            <div class="booking-container">

                <div class="price-container">
                    <h2 id="base-price" th:text="'Base Price per Day: $' + ${roomData.tarifsewa}"></h2>
                </div>
        
                <!-- Booking Form -->
                <form class="booking-form" >
                    <div class="form-group">
                        <label for="check-in">Check-in Date</label>

                        <input type="date" id="check-in" name="checkIn" required>
                    </div>
                    <div class="form-group" id="check-out-group">
                        <label for="check-out">Check-out Date</label>
                        <input type="date" id="check-out" name="checkOut" required>

                    </div>
                    <div class="form-group" id="duration-group" style="display: none;">
                        <label for="duration">Duration</label>
                        <select id="duration" name="duration"></select>
                    </div>
                    <div class="total-price-container">
                        <h2 id="total-price">Total Price: $0</h2>
                    </div>
                </form>
                <button type="submit" class="submit-btn" id="submit-btn">Submit</button>
            </div>
        </div>          
        
        <footer></footer>
    </body>
</html>