<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/pemesanan.css}">
        <script rel="text/javascript" th:src="@{/js/pemesanan.js}"defer></script>
        <script rel="text/javascript" th:src="@{/js/pelanggan.js}"defer></script>
        <title>Pemesanan</title>
    </head>
    <body>
        <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>
        
        <div class="container">
            <div class="details-container">
                <div  style="display: flex; margin-bottom: 20px;">
                    <img th:src="@{images/images.jpeg}" style="border-radius: 15px;" width="256" height="256" alt="">
                </div>
                <h2>Apartment Name</h2>
                <p><strong>Address:</strong> 123 Main Street, City, Country</p>
                <p><strong>Description:</strong> A beautiful, modern apartment located in the heart of the city. Perfect for a short or long-term stay.</p>
                <p><strong>Room Size:</strong> 80 m²</p>
                <p><strong>Facilities:</strong> Free Wi-Fi, Air Conditioning, Kitchen, Washing Machine, TV</p>
                <p><strong>Check-in Time:</strong> 2:00 PM</p>
                <p><strong>Check-out Time:</strong> 11:00 AM</p>
                <p><strong>Building Rules:</strong> No pets, No smoking, Quiet hours from 10 PM to 7 AM</p>
            </div>
        
            <div class="booking-container">

                <div class="price-container">
                    <h2 id="base-price"></h2>
                </div>

                <!-- Toggle Buttons -->
                <div class="toggle-buttons">
                </div>
        
                <!-- Booking Form -->
                <form class="booking-form" >
                    <div class="form-group">
                        <label for="check-in">Check-in Date</label>
                        <input type="date" id="check-in" name="checkIn" readonly>
                    </div>
                    <div class="form-group" id="check-out-group">
                        <label for="check-out">Check-out Date</label>
                        <input type="date" id="check-out" name="checkOut" readonly>
                    </div>
                    <div class="form-group" id="duration-group" style="display: none;">
                        <label for="duration">Duration</label>
                        <select id="duration" name="duration"></select>
                    </div>
                    <div class="total-price-container">
                        <h2 id="total-price">Total Price: $0</h2>
                    </div>
                </form>
                <button type="submit" class="submit-btn" th:onclick="goToPembayaran()">Submit</button>
            </div>
        </div>          
        
        <footer></footer>
    </body>
</html>