<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/pencarian.css}">
    <script rel="text/javascript" th:src="@{js/pelanggan.js}"defer></script>
    <title>Pencarian</title>
</head>
<body>
    <div class="navbar-container">
        <nav class = "navbar">
           
            <a href="#" class="logo">
                <img th:src="@{images/LHlogoresized.png}" height="32" width="32" alt="">
            </a>
            <ul class="navbar-links">
                <li id="link-pencarian"><a href="#">Pencarian</a></li>
                <!-- <li id="link-pemesanan"><a href="#">Pemesanan</a></li>
                <li id="link-Pembayaran"><a href="#">Pembayaran</a></li> -->
                <li id="link-riwayat"><a href="#">Riwayat Transaksi</a></li>
                <!-- <li id="link-review"><a href="#">Review</a></li> -->
            </ul>
            <div class="auth-buttons">
                <button class="auth-btn">Sign In</button>
                <button class="auth-btn">Sign Up</button>
                <button class="auth-btn" hidden>Sign Out</button>
    
            </div>
            
        </nav>

    </div>
    <div class="container">
        <div class="search-bar">
            <div class="input-container">
                <input type="text" id="searchInput" placeholder="Search..">
                <select id="filterSelect">
                    <option value="" disabled selected style="color: lightgray;">Select</option>
                    <option value="number">Number</option>
                    <option value="towerUnit">Tower</option>
                    <option value="floor">Floor</option>
                    <option value="room">Room</option>
                </select>
            </div>
            <button id="confirmButton">Confirm</button>
        </div>
        <div class="card-container" id="cardContainer">
            <div class="card" th:onclick="goToPemesanan(1)">
                <img th:src="@{images/images.jpeg}"  width="256" height="128" alt="">
                <h3>Room Number: 1</h3>
                <p>Tower Unit: A</p>
                <p>Floor: 1</p>
                <p>Room: 101</p>
            </div>
            <div class="card" th:onclick="goToPemesanan(2)">
                <img th:src="@{images/images.jpeg}"  width="256" height="128" alt="">
                <h3>Room Number: 2</h3>
                <p>Tower Unit: A</p>
                <p>Floor: 1</p>
                <p>Room: 101</p>
            </div>
            <!-- Additional cards can be added here -->
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>