<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/pencarian.css">
    <title>Pencarian</title>
</head>
<body>
    <div class="navbar-container">
        <nav class = "navbar">
           
            <a href="#" class="logo">
                <img src="images/LHlogoresized.png" height="32" width="32" alt="">
            </a>
            <ul class="navbar-links">
                <li id="link-pencarian"><a href="#">Pencarian</a></li>
                <li id="link-pemesanan"><a href="#">Pemesanan</a></li>
                <li id="link-Pembayaran"><a href="#">Pembayaran</a></li>
                <li id="link-checkin"><a href="#">Check-In</a></li>
                <li id="link-review"><a href="#">Review</a></li>
            </ul>
            <div class="auth-buttons">
                <button class="auth-btn">Sign In</button>
                <button class="auth-btn">Sign Up</button>
                <button class="auth-btn" hidden>Sign Out</button>
    
            </div>
            
        </nav>

    </div>
    <div class="container">
        <div class="search-bar">
            <div class="input-container">
                <input type="text"  id="searchInput" placeholder="Search..">
                <button id="confirmButton">Confirm</button>
            </div>
            <select  id="filterSelect">
                <option active style="color: lightgray;">Select</option>
                <option value="number">Number</option>
                <option value="towerUnit">Tower</option>
                <option value="floor">Floor</option>
                <option value="room">room</option>
            </select> 
        </div>
        <table id="dynamicTable">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Tower Unit</th>
                    <th>Floor</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>101</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>

    </footer>
</body>
</html>