<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/pengawasanUnit.css}">
        <script rel="text/javascript" th:src="@{/js/pengawasanUnit.js}"defer></script>
        <title>Pengawasan Unit</title>
    </head>
    <body>
        <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>
        <div class="container">
            <h1>Daftar unit yang sedang disewa</h1>
            <span>Catatan : (Not Available)</span>
            <br>

            <form action="/atyp/between-dates" method="post" class="search-bar">
                <div class="form-group" id="check-in-group">
                    <label for="check-in">Check-in Date</label>
                    <input type="date" id="check-in" name="checkIn" required>
                </div>
            
                <div class="form-group" id="check-out-group">
                    <label for="check-out">Check-out Date</label>
                    <input type="date" id="check-out" name="checkOut" required>
                </div>
            
                <button type="submit" id="searchButton">Search</button>
            </form>

            <table id="dynamicTable" >
            <!-- <table id="dynamicTable"  th:unless="${default}" style="visibility: visible;"> -->
                <thead>
                    <tr>
                        <th>Unit Number</th>
                        <th>Nama Penyewa</th>
                        <th>Periode Sewa</th>
                        <!-- <th>Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${results}">
                        <td th:text="${row.namatower} + '-' + ${row.lantai} + '-' + ${row.nomor}"></td>
                        <td th:text="${row.nama}"></td>
                        <td th:text="${row.tanggalmulai} + ' - ' + ${row.tanggalselesai}"></td>
                        <!-- <td th:text="${row.statustersedia}"></td> -->
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <footer>

        </footer>
    </body>
</html>