<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pengawasanCICO.css}">
    <title>Laporan CICO</title>
</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>

    <!-- container -->
    <div class="container">
        <div class="header">
            <h1 class="title">Daftar Check-in / Check-out</h1>
            <form action="/atyp/search-date" method="post">
                <label for="input-tanggal">Pilih tanggal: </label>
                <input type="date" id="input-tanggal" name="date">
                <button type="submit" class="submit-button">Submit</button> 
            </form>
        </div>
        <!-- list costumer -->
        <div class="customer-list">
            <h2>Daftar Check-in:</h2>
             <table class="checkin-table">
                <thead>
                    <tr>
                        <th>Waktu Check In</th>
                        <th>Nama Penyewa</th>
                        <th>Unit</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${ci}">
                        
                        <td th:text="${row.tgglcheckin}"></td>
                        <td th:text="${row.nama}"></td>
                        <td th:text="${row.namatower} +''+${row.lantai}+''+${row.nomor}"></td>
                        <td th:text="${row.statuspembayaran}"></td>
                        
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Daftar Check-out:</h2>
            <table class="checkout-table">
                <thead>
                    <tr>
                        <th>Waktu Check Out</th>
                        <th>Nama Penyewa</th>
                        <th>Unit</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${co}">

                        <td th:text="${row.tgglcheckout}"></td>
                        <td th:text="${row.nama}"></td>
                        <td th:text="${row.namatower} +''+${row.lantai}+''+${row.nomor}"></td>
                        <td th:text="${row.statuspembayaran}"></td>
       
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    
</body>
</html>