<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/pengawasanUnit.css}">
        <script rel="text/javascript" th:src="@{/js/pengawasanUnit.js}"defer></script>
        <title>Pengawasan Unit</title>
    </head>
    <body>
        <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>
        <div class="container">
            <h1>Pengawasan Unit</h1>

            <div class="search-bar">
                <div class="form-group" id="check-in-group">
                    <label for="check-in">Check-in Date</label>
                    <input type="date" id="check-in" name="checkIn">
                </div>

                <div class="form-group" id="check-out-group">
                    <label for="check-out">Check-out Date</label>
                    <input type="date" id="check-out" name="checkOut">
                </div>
                <button id="searchButton" style="visibility: hidden;" onclick="fetchResponseToBE()">Confirm</button>
            </div>

            <table id="dynamicTable"  style="visibility: hidden;">
            <table id="dynamicTable"  style="visibility: visible;">
                <thead>
                    <tr>
                        <th>Unit Number</th>
                        <th>Nama Penyewa</th>
                        <th>Periode Sewa</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${results}">
                        <td th:text="${results.namatower}+${results.lantai}+${results.nomor}"></td>
                        <td th:text="${results.nama}"></td>
                        <td th:text="${results.tanggalmulai}+'-'+${tanggalselesai}"></td>
                        <td th:text="${results.statustersedia}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>

        </footer>
    </body>
</html>