<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/pengawasanCICO.css}">
    <title>Document</title>
</head>
<body>
    <div class="navbar-container">
        <nav class = "navbar">
           
            <a href="#" class="logo">
                <img th:src="@{images/LHlogoresized.png}" height="32" width="32" alt="">
            </a>
            <ul class="navbar-links">
                <li id="link-pencarian"><a href="#">Pencarian</a></li>
                <!-- <li id="link-pemesanan"><a href="#">Pemesanan</a></li>
                <li id="link-Pembayaran"><a href="#">Pembayaran</a></li> -->
                <li id="link-riwayat"><a href="#">Riwayat Transaksi</a></li>
                <!-- <li id="link-review"><a href="#">Review</a></li> -->
            </ul>
            <div class="auth-buttons">
                <button class="auth-btn">Sign In</button>
                <button class="auth-btn">Sign Up</button>
                <button class="auth-btn" hidden>Sign Out</button>
    
            </div>            
        </nav>
    </div>

    <!-- container -->
    <div class="container">
        <div class="header">
            <h1 class="title">Daftar Check-in / Check-out</h1>
            <form action="">
                <label for="input-tanggal">Pilih tanggal: </label>
                <input type="date" id="input-tanggal" name="input-tanggal">
                <button type="submit" class="submit-button">Submit</button> 
            </form>
        </div>
        <!-- list costumer -->
        <div class="customer-list">
            <h2>Daftar Check-in:</h2>
            <ul id="check-in-list">
                <!-- Customer items will be added here -->
            </ul>
            <br>
            <h2>Daftar Check-out:</h2>
            <ul id="check-out-list">
                <!-- Customer items will be added here -->
            </ul>
        </div>
    </div>
    
</body>
</html>