<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{css/register.css}"> 
</head>
<body>
    <div class="login-container">
        <div class="image-section">
            <img th:src="@{images/vertical-shot-white-building-clear-sky.jpg}" alt="User" class="profile-image">
        </div>``
        <div class="form-section">
            <div class="logo-container">
                <img th:src="@{images/LHlogoresized.png}"  alt="Logo" class="logo">
            </div>
            <h2>Register</h2>
            <form action="#" method="POST">
                <label for="emailAdress">Email address</label>
                <input type="text" id="emailAddress" name="emailAddress" placeholder="Email address" required>

                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
                
                <button type="submit" class="sign-in-button">Sign Up</button>
                
            
            </form>
        </div>
    </div>
</body>
</html>