<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give review for unit</title>
    <link rel="stylesheet" href="review.css">
</head>
<body>
    <div class="review-body">

        <div class="top">
            <div class="unit-picture">
                <img src="" alt="">
            </div>
            <div class="unit-desc">
                noUnit / tower / type
            </div>
        </div>
            
            <!-- form -->
            <form action="/submit-review" method="POST" class="review-form">
                
                <!-- radio button for rating -->
                <div class="rating-label">Berikan nilai untuk unit ini:</div>
                <div class="rating">
                    <label><input type="radio" name="rating" value="1"> 1</label>
                    <label><input type="radio" name="rating" value="2"> 2</label>
                    <label><input type="radio" name="rating" value="3"> 3</label>
                    <label><input type="radio" name="rating" value="4"> 4</label>
                    <label><input type="radio" name="rating" value="5"> 5</label>
                </div>

                <!-- text area -->
                <div class="text-area-label">Berikan ulasan untuk unit ini</div>
                <textarea name="review" placeholder="Berikan ulasan untuk unit ini..." class="text-area"></textarea>
                <button type="submit" class="submit-button">Submit</button>
            </form>
    </div>
</body>
</html>