<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give review for unit</title>
    <link rel="stylesheet" href="../static/css/review.css">
    <script rel="text/javascript" th:src="@{js/pelanggan.js}"defer></script>
</head>
<body>
    <!-- navbar -->
    <div class="navbar-container">
        <nav class = "navbar">
           
            <a href="#" class="logo">
                <img th:src="@{images/LHlogoresized.png}" height="32" width="32" alt="">
            </a>
            <ul class="navbar-links">
                <li id="link-pencarian"><a href="#">Pencarian</a></li>
                <!-- <li id="link-pemesanan"><a href="#">Pemesanan</a></li>
                <li id="link-Pembayaran"><a href="#">Pembayaran</a></li> -->
                <li id="link-riwayat"><a href="#">Riwayat Transaksi</a></li>
                <!-- <li id="link-review"><a href="#">Review</a></li> -->
            </ul>
            <div class="auth-buttons">
                <button class="auth-btn">Sign In</button>
                <button class="auth-btn">Sign Up</button>
                <button class="auth-btn" hidden>Sign Out</button>
    
            </div>
            
        </nav>

    </div>

    <!-- body -->
    <div class="review-body">

        <div class="top">
            <div class="unit-picture">
                <img src="" alt="">
            </div>
            <div class="unit-name">noUnit / tower / </div>
        </div>
            
            <!-- form -->
            <form action="/submit-review" method="POST" class="review-form">
                
                <!-- radio button for rating -->
                <div class="rating-label">Berikan nilai untuk unit ini:</div>
                <div class="rating">
                    <label><input type="radio" name="rating" value="1"> 1</label>
                    <label><input type="radio" name="rating" value="2"> 2</label>
                    <label><input type="radio" name="rating" value="3"> 3</label>
                    <label><input type="radio" name="rating" value="4"> 4</label>
                    <label><input type="radio" name="rating" value="5"> 5</label>
                </div>

                <!-- text area -->
                <div class="text-area-label">Berikan ulasan untuk unit ini</div>
                <textarea name="review" placeholder="Berikan ulasan untuk unit ini..." class="text-area"></textarea>
                <button type="submit" class="submit-button">Submit</button>
            </form>
    </div>
</body>
</html>