<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give review for unit</title>
    <link rel="stylesheet" href="review.css">
</head>
<body>
    <div class="Review">

        <div class="top">
            <div class="UnitPict"></div>
            <div class="NounitTower">noUnit / tower / </div>
        </div>
            
            <!-- form -->
            <form action="/submit-review" method="POST" class="ReviewForm">
                
                <!-- radio button for rating -->
                <div class="rating-label">Berikan nilai untuk unit ini:</div>
                <div class="Rating">
                    <label><input type="radio" name="rating" value="1"> 1</label>
                    <label><input type="radio" name="rating" value="2"> 2</label>
                    <label><input type="radio" name="rating" value="3"> 3</label>
                    <label><input type="radio" name="rating" value="4"> 4</label>
                    <label><input type="radio" name="rating" value="5"> 5</label>
                </div>

                <!-- text area -->
                <div class="text-area-label">Berikan ulasan untuk unit ini</div>
                <textarea name="review" placeholder="Berikan ulasan untuk unit ini..." class="Textarea"></textarea>
                <button type="submit" class="SubmitButton">Submit</button>
            </form>
    </div>
</body>
</html>