<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/riwayatTransaksi.css}">
    <script rel="text/javascript" th:src="@{/js/review.js}" defer></script>
    <title>Riwayat Transaksi</title>
</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>
    <div>
        <h1>Riwayat Transaksi</h1>
        <div class="container">
            <div class="search-bar">
                <div class="input-container">
                    <input type="text" id="searchInput" placeholder="Search by price, date, or room type..">
                    <button id="confirmButton">Confirm</button>
                </div>
                <select id="filterSelect">
                    <option value="" disabled selected>Select filter</option>
                    <option value="price">Price</option>
                    <option value="checkin">Check-in Date</option>
                    <option value="roomType">Room Type</option>
                </select>
            </div>
        
            <table id="transactionTable">
                <thead>
                    <tr>
                        <th>Nomor</th>
                        <th>Ruangan</th>
                        <th>Tanggal Check In</th>
                        <th>Tanggal Check Out</th>
                        <th>Tipe</th>
                        <th>Harga</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row, stat : ${results}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${row.namatower} + '-' + ${row.lantai} + '-' + ${row.nomor}"></td>
                        <td th:text="${row.tgglcheckin}"></td>
                        <td th:text="${row.tgglcheckout}"></td>
                        <td th:text="${row.jenis}"></td>
                        <td th:text="${row.tarifsewa}"></td>
                        <td>
                            <button class="checkin">Check In</button>
                            <button class="checkout" disabled>Check Out</button>
                            <button class="review-button" onclick="openReviewPopup(this)">
                                Review
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </div>

        
    </div>

    <!-- body -->
    <div class="review-body hidden">

        <div class="top">
            <div class="unit-name"></div>
        </div>
            
            <!-- form -->
            <form action="/submit-review" method="POST" class="review-form">
                
                <!-- radio button for rating -->
                <div class="rating-label">Berikan nilai untuk unit ini:</div>
                <div class="rating">
                    <label><input type="radio" name="rating" value="1"> 1</label>
                    <label><input type="radio" name="rating" value="2"> 2</label>
                    <label><input type="radio" name="rating" value="3"> 3</label>
                    <label><input type="radio" name="rating" value="4"> 4</label>
                    <label><input type="radio" name="rating" value="5"> 5</label>
                </div>

                <!-- text area -->
                <div class="text-area-label">Berikan ulasan untuk unit ini</div>
                <textarea name="review" placeholder="Berikan ulasan untuk unit ini..." class="text-area"></textarea>
            </form>
            <button type="submit" class="submit-button">Submit</button>
    </div>

</body>
</html>