<div class="navbar-container" th:fragment="navbar">
    <nav class="navbar">

        <a th:href="@{/}" class="logo">
            <img th:src="@{images/LHlogoresized.png}" height="32" width="32" alt="">
        </a>

        <!-- <h1 th:text="'tipe user : ' + ${tipeuser}"></h1> -->
        <div th:if="${!default}">

            <div class="navbar-pelanggan" th:if="${tipeuser} == P" >
                <ul class="navbar-links">
                    <li id="link-pencarian"><a th:href="@{pencarian}">Pencarian</a></li>
                    <li id="link-riwayat"><a th:href="@{riwayat}">Riwayat Transaksi</a></li>
     
                </ul>

            </div>

            <div class="navbar-agen"  th:unless="${tipeuser} == P" >
                <ul class="navbar-links">
                    <li id="link-editDataUnit"><a th:href="@{edit-data}">Data Unit</a></li>
                    <li id="link-jadwalKetersediaan"><a th:href="@{kelola-jadwal}">Jadwal Ketersediaan</a></li>
                
                    <li id="link-pengawasanUnit"><a th:href="@{pengawasan-unit}">Pengawasan Unit</a></li>
                
                
                    <li id="link-cico"><a th:href="@{pengawasan-cico}">Data CICO</a></li>
                  
                
                    <li id="link-utilitas"><a th:href="@{pelaporan-utilitas}">Laporan Utilitas</a></li>
                </ul>
            </div>

        </div>
        <div class="auth-buttons">
            <a class="auth-btn" th:if="${default}" th:href="@{/login}">Sign In</a>
            <a class="auth-btn" th:if="${default}" th:href="@{/register}">Sign Up</a>
            <a class="auth-btn" th:unless="${default}">Sign Out</a>

        </div>
     
    </nav>

</div>